body {
  background-color: #EEF2F5;
  font-family: 'Montserrat', sans-serif;
}
.flex-div {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.form {
  border-radius: 30px;
  background-color: #fff;
  width: 516px;
  height: 658px;
  display: flex;
  transform: scale(0.9);
  justify-content: center;
}
.price {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  margin-top: 70px;
}
.line {
  display: inline-block;
  width: 180px;
  height: 2px;
  background: #2A84FF;
  opacity: 0.7;
  border-radius: 100px;
}
.variant {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
.up-var {
  width: 420px;
  height: 97px;
  margin-top: 39px;
  background: #FFFFFF;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1.1px 1.1px 1.1px 1.1px;
  border-bottom-color: #FFFFFF;
  border-radius: 22px 22px 0 0;
  transition: all 0.2s;
}
.up-var:hover {
  cursor: pointer;
}
.middle-var {
  width: 420px;
  height: 97px;
  background: #FFFFFF;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1.1px 1.1px 1.1px 1.1px;
  border-bottom-color: #FFFFFF;
  transition: all 0.2s;
}
.middle-var:hover {
  cursor: pointer;
}
.down-var {
  width: 420px;
  height: 97px;
  background: #FFFFFF;
  border: 1.1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 0 22px 22px;
  transition: all 0.1s;
}
.down-var:hover {
  cursor: pointer;
}
.proceed {
  width: 420px;
  height: 65px;
  margin-top: 42px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Montserrat', sans-serif;
  border-style: none;
  background-color: #2A84FF;
  opacity: 0.5;
  border-radius: 15px;
  transition: all 0.1s;
}
.proceed:hover {
  cursor: pointer;
}
.image-type-pay {
  width: 55px;
  height: 55px;
  margin-left: 33px;
}
.var-text {
  font-weight: 500;
  font-size: 18.3px;
  margin-left: 22px;
}
.type {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
}
.image-type {
  width: 56px;
  height: 56px;
}
.email {
  display: block;
  width: 356px;
  height: 69.5px;
  margin-top: 31px;
  padding-right: 32px;
  padding-left: 35px;
  background: #EEF2F5;
  border-radius: 15px;
  border-style: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 17px;
  transition: all 0.2s;
  -webkit-appearance: none;
}
.email::placeholder {
  color: rgba(0, 0, 0, 0.23);
}
.email:focus {
  box-shadow: inset 0 0 0 1.4px #0094ff;
}
.email-change {
  box-shadow: inset 0 0 0 1.4px #0094ff;
}
.loading {
  width: 50px;
  height: 50px;
  animation: rotate 0.8s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.active-var {
  background-color: #CEE1FC;
  border: 1.1px solid #2A84FF;
}
.active-proceed {
  opacity: 1;
}
@media (max-width: 540px) {
  .flex-div {
    min-height: 81vh;
  }
  .form {
    width: 358px;
    height: 520px;
    transform: scale(1);
  }
  .price {
    font-size: 32px;
    margin-top: 49px;
  }
  .line {
    width: 148px;
  }
  .up-var {
    width: 310px;
    height: 86px;
    margin-top: 32px;
    border-radius: 19.6px 19.6px 0 0;
  }
  .middle-var {
    width: 310px;
    height: 86px;
  }
  .down-var {
    width: 310px;
    height: 86px;
    border-radius: 0 0 19.6px 19.6px;
  }
  .proceed {
    width: 316px;
    height: 58px;
    font-size: 15.7px;
    margin-top: 37px;
    border-radius: 13.3px;
  }
  .image-type-pay {
    width: 49px;
    height: 49px;
    margin-left: 29.4px;
  }
  .var-text {
    font-size: 16.3px;
    margin-left: 19.6px;
  }
  .image-type {
    width: 55.2px;
    height: 55.2px;
  }
  .type {
    margin-top: 37.3px;
  }
  .email {
    width: 258px;
    height: 58px;
    margin-top: 28px;
    padding-left: 29px;
    padding-right: 29px;
    border-radius: 13.8px;
    font-size: 15.6px;
  }
  .loading {
    width: 48px;
    height: 48px;
  }
}
@media (max-width: 390px) {
  .form {
    width: 338px;
    height: 500px;
  }
  .price {
    font-size: 25px;
    margin-top: 54px;
  }
  .line {
    width: 120px;
  }
  .up-var {
    width: 290px;
    height: 70px;
    border-radius: 16px 16px 0 0;
  }
  .middle-var {
    width: 290px;
    height: 70px;
  }
  .down-var {
    width: 290px;
    height: 70px;
    border-radius: 0 0 16px 16px;
  }
  .proceed {
    width: 290px;
    height: 50px;
    font-size: 14px;
    margin-top: 37px;
    border-radius: 12px;
  }
  .image-type-pay {
    width: 44px;
    height: 44px;
    margin-left: 20px;
  }
  .var-text {
    font-size: 14px;
    margin-left: 18px;
  }
  .image-type {
    width: 51px;
    height: 51px;
  }
  .type {
    margin-top: 35px;
  }
  .email {
    width: 240px;
    height: 50px;
    margin-top: 24px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 12px;
    font-size: 14px;
  }
  .loading {
    width: 44px;
    height: 44px;
  }
}
